@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --primary-color:#12ac8e;
    --primary-color-dark:#0d846c;
    --primary-color-light:#e9f7f7;
    --secondary-color:#fb923c;
    --text-dark:#333333;
    --text-light:#767268;
    --white:#ffffff;
    --max-width:1200px;

}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
    
}
.section__container{
    max-width: var(--max-width);
    margin:auto;
    padding:5rem 1rem;
    
    

}
.section__header{
    margin-bottom: .5rem;
    font-size: 2 rem;
    font-weight: 600;
    color:black;
    border-radius: 10px;
    background-color: var(--primary-color-light);
    

}

img{
    width: 100%;
    display:flex;

}
a{
    text-decoration: none;

}
body{
    font-family: 'poppins',sans-serif;
      background-color: var(--primary-color-light);
}
header{
    background-image: linear-gradient(to right, rgba(18, 172,142, 0.9), rgba(18,172,142, 0.7)
    ),
     url("assets/brain2.jpg");
    /*background-color: aqua;*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav__container{
    padding:2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--white);

}
.nav__logo span{
    color: var(--secondary-color);

}
.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.link a{
    padding:.5rem;
    color: var(--white);

}
.link a:hover{
    color: var(--white);
}
.header__container{
    display:flex;
    align-items: center;
    gap: 5rem;
}
.header__container h1{
    margin-bottom: 1 rem;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4 rem;
    color: var(--white);
}
.header__container p{
    margin-bottom: 2rem;
    max-width:var(--max-width);
    color: var(--primary-color-light);

}
.cont{
    background-color:var(--primary-color-light);

}
.header__content p{
    color:blue;
}

.service__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: var(--max-width);

}

.service__header__content p{
    
    color: var(--text-dark);
    font-size: 20px;
    background-color: var(--primary-color-light);
    margin-bottom: 20px;
    margin-left: 50px;
    
  
}
.section__header{
    background-color: var(--primary-color);
 
    margin-top: 20px;
    width: 40%;
    box-shadow:0px 10px 30px -5px var(--primary-color);

}
.section__header__p p{
    font-size: 20px;
    background-color: var(--primary-color-light);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 30px -5px var(--primary-color);
    width: 60%;
    
    
}
.column{
    margin-left: -50px;

    
}
.column img{
    float: left;
    width: 30%;
    padding-left: -30px;
    height: 380px;
    gap:2rem;
    margin-top: 10px;
    border-radius: 100px;
    margin-left: 70px;

}
.column1 img{
    float: right;
    width: 30%;
    padding:5px ;
    height: 380px;
    gap:2rem;
    margin-top: 10px;
    display: inline-block;
    
   
    border-radius: 100px;
    
    margin-left: 40px;;
}
.column4 img{
    float: right;
    width: 30%;
    padding:5px ;
    height: 380px;
    gap:2rem;
    margin-top: 10px;
    display: inline-block;
    
   
    border-radius: 100px;
}
.column2{
    float: right;
    width: 80%;
    padding: 5px;
    height: 380px;
    gap:2rem;
    margin-top: -190px;
    display: inline-block;
   position:relative;
    width: 30%;
    margin-left:-30px ;
    
    
}
.column3{
    float: right;
    width: 100%;
    padding: 5px;
    height: 200px;
    gap:2rem;
  
    margin-left: 170px;
    width: 30%;
    max-width: var(--max-width);
    border-radius: 80px;
}
.column3{
    font-size: 100px;
    
}
.column3 img{
    border-radius: 80px;
   height: 200px;
   width: 300px;
}
.column2 img{
    border-radius: 100px;
    margin-left: -50px;
}
.row{
    background-color:  var(--primary-color-dark);
    border-radius:10px;
    height: 500px;
    width: var(--max-width);
   margin-top: 50px;
   margin-left: -30px;
   margin-bottom: -350px;
}

.why__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    margin-top: 350px;
   
    box-shadow: 0px 10px 30px -5px var(--primary-color);
    height: 700px;
   

}

.why__container h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    width: 70%;
    
}

.why__content p{
    color: var(--text-dark);
    box-shadow: 0px 10px 30px -5px var(--primary-color);
    display: inline-block;
    font-size:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.dashboard{
    margin-left: 150px;
    border-color: red;
    max-width: 1200px;
    width: 100%;
}


.footer{
    background-color:var(--primary-color) ;
}
.why__content h4{
   

}

.footer__container{
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.footer__col h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);

}

.footer__col h3 span{
    color: var(--secondary-color);
}
.footer__col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--text-dark);
}
.footer__col p{
    margin-bottom: 1rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
}
.footer__col p:hover{
    color: var(--text-dark);

}

.footer__col i{
    color: var(--text-dark);
}

.footer__bar{
    background-color: var(--primary-color);
    

}
.footer__bar__content{
    max-width: var(--max-width);
    margin: auto;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__bar__content p{
    font-size: 0.8rem;
    color: var(--text-dark);

}

.footer__socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--text-dark);
    cursor: pointer;

}

/* Adjust layout for screens up to 900px wide */
@media screen and (max-width: 900px) {
    .service__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .about__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about__image {
        grid-area: 1/1/2/2;
    }

    .about__content {
        text-align: center;
    }

    .why__container {
        padding: 50px 10%;
        background: #ffe6e6;
        display: block;
    }
    
    .why__content {
        text-align: center;
    }
    
    .why__content h2 {
        font-size: 2rem;
        color: #34495e;
        margin-bottom: 20px;
    }
    
    .why__content h4 {
        font-size: 1.5rem;
        color: #ff6699;
        margin: 20px 0 10px;
    }
    
    .why__content p {
        font-size: 1rem;
        color: #34495e;
    }
    

    .doctors__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--primary-color-dark);
    }
}

/* Adjust layout for screens up to 780px wide */
@media screen and (max-width: 780px) {
    .nav__links {
        display: none;
    }

    .header__container {
        flex-direction: column;
    }
}

/* Adjust layout for screens up to 600px wide */
@media screen and (max-width: 600px) {
    .service__header {
        flex-direction: column;
        text-align: center;
    }

    .service__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .why__grid {
        column-gap: 1rem;
    }

    .doctors__header {
        flex-direction: column;
        text-align: center;
    }

    .doctors__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__bar__content {
        flex-direction: column;
        gap: 1rem;
    }
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    
}
.forms__container{
    align-items: center;
    display: block;
    background:var(--primary-color-light);
    margin-top: -100px;
    height: auto;
    
}

form {
   background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width:var(--max-width);
    box-sizing: border-box;
    display: inline-block;
    margin-left: 150px;
    width: 1400px;
    
    
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}
.predict__text{
    height: 100px;
    width: 1200px;
    box-shadow:0px 10px 30px -5px ;
    margin-top: 20px;
    margin-left: 150px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="gray" stroke-width="2" d="M6 9l6 6 6-6"/></svg>') no-repeat right 10px center;
    background-size: 12px;
}

select::-ms-expand {
    display: none;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    
    h1 {
        font-size: 24px;
    }

    input[type="text"],
    select,
    input[type="submit"] {
        font-size: 14px;
    }
}
.forms__container{
    margin-top: 400px;
    margin-bottom: -300px;
    
}
.forms__container h1{
margin-left: -40px;
}
    